<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>chai_jump.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,827},{98,96}}</string>
			<key>offset</key>
			<string>{-1,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{98,96}}</string>
			<key>sourceSize</key>
			<string>{100,112}</string>
		</dict>
		<key>chai_run_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,729},{97,99}}</string>
			<key>offset</key>
			<string>{1,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,1},{97,99}}</string>
			<key>sourceSize</key>
			<string>{100,113}</string>
		</dict>
		<key>chai_run_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,172},{95,111}}</string>
			<key>offset</key>
			<string>{2,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,0},{95,111}}</string>
			<key>sourceSize</key>
			<string>{100,113}</string>
		</dict>
		<key>chai_run_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{80,113}}</string>
			<key>offset</key>
			<string>{10,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,0},{80,113}}</string>
			<key>sourceSize</key>
			<string>{100,113}</string>
		</dict>
		<key>chai_run_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,81},{90,112}}</string>
			<key>offset</key>
			<string>{5,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,1},{90,112}}</string>
			<key>sourceSize</key>
			<string>{100,113}</string>
		</dict>
		<key>chai_run_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,536},{98,103}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,3},{98,103}}</string>
			<key>sourceSize</key>
			<string>{100,113}</string>
		</dict>
		<key>chai_run_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,635},{100,93}}</string>
			<key>offset</key>
			<string>{0,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{100,93}}</string>
			<key>sourceSize</key>
			<string>{100,113}</string>
		</dict>
		<key>chai_run_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,350},{93,109}}</string>
			<key>offset</key>
			<string>{3,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,1},{93,109}}</string>
			<key>sourceSize</key>
			<string>{100,113}</string>
		</dict>
		<key>chai_run_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,268},{81,110}}</string>
			<key>offset</key>
			<string>{9,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,0},{81,110}}</string>
			<key>sourceSize</key>
			<string>{100,113}</string>
		</dict>
		<key>chai_run_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,444},{91,106}}</string>
			<key>offset</key>
			<string>{4,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,0},{91,106}}</string>
			<key>sourceSize</key>
			<string>{100,113}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>chaien.png</string>
		<key>size</key>
		<string>{128,1024}</string>
		<key>smartupdate</key>
		<string>{None}</string>
		<key>textureFileName</key>
		<string>chaien.png</string>
	</dict>
</dict>
</plist>
